<h1>Update Pet</h1>

<h1>Create a new Pet</h1>
<form method ="post" action ="/pets/<%=@pet.id%>">
  <input type ="hidden" id ="hidden" name ="_method" value ="patch">
  <p>Name: <input type ="text" name ="pet[name]" id ="pet_name" value ="<%=@pet.name%>"></p>
  <br>
  Owner:
  <%@owners.each do |owner| %>
  <input type ="radio" <%='checked' if @pet.owner_id == owner.id %> name ="pet[owner_id]" id ="<%=owner.id%>" value ="<%=owner.id%>"><%=owner.name %><br>
  <%end %>
  New Owner:
  <br>
     <label>Owner name:</label>
      <input  type="text" name="owner_name" id="owner[name]"></input>
    <br>
  
  <input type="submit" value="Update Pet">
</form>
