<h1>Update Pet</h1>

<form method="POST" action="/pets">
  <p><label for="pet_name">Pet Name:</label>
    <input type="index" name="pet[name]" id="pet_name" value="<%=@pet.name%>">
  </p>
  <p>
    <% @owners.each do |owner| %>
      <input type="radio" name="pet[owner_id]" value="<%= owner.id %>"
        id="<%= owner.id %>" <%="checked" if @pet.owner == owner %> >
        <%= owner.name %></input>
    <% end %>
  </p>
  <label> and/or, create a new owner: </label>
  <br>
  <label>name:</label>
    <input  type="text" name="owner_name" id="owner[name]"></input>
  <br>
  <input type="submit" value="Update Pet">
</form>
